---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import MainLayout from '../../../layouts/MainLayout.astro';
import ArticleCard from '../../../components/ArticleCard.astro';
import { capitalize } from '../../../utils';

const allBlogArticles: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { tag } = Astro.params;
if (tag === undefined) {
  throw new Error('Tag is required');
}
const tagArticles = allBlogArticles.filter((article) =>
  article.data.tags.includes(tag)
);
---

<MainLayout>
  <a
    href='/articles'
    class='inline-block bg-blue-500 p-2 mb-6 hover:bg-blue-300 text-white'
    >Back To Articles</a
  >
  <h1 class='text-4xl font-bold pb-3'>#{capitalize(tag)}</h1>
  <!-- Main Grid -->
  <div class='grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3'>
    {tagArticles.map((article) => <ArticleCard article={article} />)}
  </div>
</MainLayout>
